*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'FiraSansCondensed', sans-serif;
  line-height: 1.6;
  color: #111;
  background-color: #fff;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #f5f5f5;
  --color-text-primary: #000000;
  --color-text-secondary: #555555;
  --color-border: #dddddd;
}

[data-theme="dark"] {
  --color-bg-primary: #101010;
  --color-bg-secondary: #282828;
  --color-text-primary: #ffffff;
  --color-text-secondary: #cccccc;
  --color-border: #333333;
}


ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}


input,
textarea,
select {
  font-family: inherit;
  outline: none;
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.3;
}


input:focus,
textarea:focus {
  outline: none;
}

::selection {
  background: #000;
  color: #fff;
}

.container-custom {
  width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
h1 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.5px;
}

h2 {
  font-size: 22px;
  font-weight: 600;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

h4 {
  font-size: 16px;
  font-weight: 500;
}

p {
  font-size: 14px;
  font-weight: 400;
}

/* ------------------- */
.stroke-white{
  stroke: var(--color-bg-primary);
}
.sec-space{
  padding: 50px 0;
}
header>div>div>ul>li>a , header button {
  color: var(--color-bg-primary) !important;
}
header.Sticky_header>div>div>ul>li>a , header.Sticky_header button {
  color: var(--color-text-primary) !important;
}
header.Sticky_header .sticky_header_logo {
  display:block  !important;
}
header .sticky_header_logo {
  display:none  !important;
}
header.Sticky_header .header_logo {
  display:none  !important;
}


/* Small devices */
@media (min-width: 640px) {
  .container-custom {
    padding-left: 24px;
    padding-right: 24px;
  }
  .sec-space{
  padding: 60px 0;
}
}

/* Tablet */
@media (min-width: 768px) {
  .container-custom {
    padding-left: 40px;
    padding-right: 40px;
  }
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 15px;
  }
    .sec-space{
  padding: 70px 0;
}
}

/* Laptop */
@media (min-width: 1024px) {
  .container-custom {
    padding-left: 60px;
    padding-right: 60px;
  }
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 34px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }
      .sec-space{
  padding: 80px 0;
}
}

/* Large Desktop */
@media (min-width: 1440px) {
  .container-custom {
    padding-left: 100px;
    padding-right: 100px;
  }
  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 40px;
  }
      .sec-space{
  padding: 80px 0;
}
}

/* Regular */
@font-face {
  font-family: 'FiraSansCondensed';
  src: url('/font/FiraSansCondensed-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Light */
@font-face {
  font-family: 'FiraSansCondensed';
  src: url('/font/FiraSansCondensed-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Medium */
@font-face {
  font-family: 'FiraSansCondensed';
  src: url('/font/FiraSansCondensed-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* SemiBold */
@font-face {
  font-family: 'FiraSansCondensed';
  src: url('/font/FiraSansCondensed-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: 'FiraSansCondensed';
  src: url('/font/FiraSansCondensed-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Black */
@font-face {
  font-family: 'FiraSansCondensed';
  src: url('/font/FiraSansCondensed-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
